@import '../../scss/common';

.Right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: space(2);

    @media #{$small}{
        text-align: center;
    }

    @media #{$pc}{
        text-align: left;
    }
}
